body{
    font-family: 'Chelsea Market', cursive;
}

.Container{
    font-family: 'Chelsea Market', cursive;
}

.customFont1{
    font-family: 'Chelsea Market', cursive;
}

select{
    font-family: 'Chelsea Market', cursive;
}


/*
class='customFont1'*/
